{% extends 'base.html' %}

{% block header %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Detail page</h4>
</div>
{% endblock header %}

{% block content %}

<div class='container'>
        <div class="alert alert-success" role="alert">
            <p>方針:{{ object.title }}</p>
            <p>投稿者：{{ object.contributor }}</p>
            <p>きっかけ：{{ object.content }}</p>
            <p>いいね数：{{ object.good }}</p>
            <a class="btn btn-primary" role="button" aria-disabled="true">いいね！</a>
            <a class="btn btn-secondary" role="button" aria-disabled="true">マイリストに追加</a>
        </div>
</div>

{% endblock content %}