{% extends 'base.html' %}

{% block header %}
<div class="alert alert-heading" role="alert">
    <h4 class="alert-heading">Detail page</h4>
    <a class="btn btn-secondary" role="button" href="{%  url 'list' %}" >共有ページへ</a>
    <a class="btn btn-secondary" role="button" href="{% url 'mylist' %}" >マイリストへ</a>
</div>
{% endblock header %}

{% block content %}

<div class='container'>
        <div class="alert alert-warning" role="alert">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">方針:{{ object.title }}</label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">きっかけ：{{ object.content }}</label>
            </div>
            {% if user.username != object.contributor %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">投稿者：{{ object.contributor }}</label>
                </div>
            {% endif %}
            {% if object.follow != 1 %}
                <p>{{ object.good }}件のいいね</p>
            {% endif %}
            {% if user.username != object.contributor %}
                <a class="btn btn-secondary" role="button" href="{% url 'follow' object.pk %}">マイリストに追加</a>
            {% endif %}
        </div>
</div>

{% endblock content %}