{% extends 'base.html' %}

{% block header %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Detail page</h4>
</div>
{% endblock header %}

{% block content %}

<div class='container'>
        <div class="alert alert-success" role="alert">
            <h4>方針:{{ object.title }}</h4>
            <p>きっかけ：{{ object.content }}</p>
            {% if user.username != object.contributor %}
                <p>投稿者：{{ object.contributor }}</p>
            {% endif %}
            {% if object.follow != 1 %}
                <p>{{ object.good }}いいね</p>
            {% endif %}
            {% if user.username != object.contributor %}
                <a class="btn btn-secondary" role="button" href="{% url 'follow' object.pk %}">マイリストに追加</a>
            {% endif %}
        </div>
</div>

{% endblock content %}