{% extends 'base.html' %}

{% block header %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">子育て方針共有SNS</h4>
    <p> みんなの子育て方針が集まる場所</p>
    <hr>
    <p class="mb-0">あなたのご家庭ではどんな子育て方針がありますか？みんなで共有しましょう！</p>
</div>
{% endblock header %}

{% block content %}

<div class='container'>
    {% for item in object_list %}
        <div class="alert alert-success" role="alert">
            <h4>方針:<a href="{% url 'detail' item.pk %}">{{ item.title }}</h4></p>
            <p>投稿者：{{ item.contributor }}</p>
            <p>いいね数：{{ item.good }}</p>
            <a class="btn btn-primary" role="button" aria-disabled="true">いいね！</a>
        </div>
    {% endfor %} 
    <a href="{% url 'logout' %}" role="button">Logout</a>
</div>

{% endblock content %}