{% extends 'base.html' %}

{% block header %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">子育て方針共有SNS</h4>
    <p> みんなの子育て方針が集まる場所</p>
    <hr>
    <p class="mb-0">あなたのご家庭ではどんな子育て方針がありますか？みんなで共有しましょう！</p>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
   <div class="alert alert-success" role="alert">
        <p>タイトル</p>
        <p>投稿者：</p>
        <a class="btn btn-primary" role="button" aria-disabled="true">Primary link</a>
        <a class="btn btn-secondary" role="button" aria-disabled="true">Link</a>
    </div>
</div>
{% endblock content %}