{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <br>
    <form method="POST">{% csrf_token %} 
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">方針:</label>
            <input type="text" name="title" value="{{object.title}}" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">きっかけ:</label>
            <input type="text" name="content" value="{{object.content}}" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">重要度:</label>
            <select name="priority" class="form-select">
                {% if object.priority == "danger" %}
                    <option selected="{{object.priority}}">high</option>
                {% elif object.priority == "success" %}
                    <option selected="{{object.priority}}">normal</option>
                {% else %}
                    <option selected="{{object.priority}}">low</option>
                {% endif %}
                <option value="danger">high</option>
                <option value="success">normal</option>
                <option value="primary">low</option>
            </select>
        </div>

        <input type="hidden" name='contributor' value="{{ user.username}}">

        <div class="alert alert-heading text-center">
            <input class="btn btn-secondary btn-lg" type="submit" value="編集完了">
            <a class="btn btn-secondary btn-lg" role="button" href="{% url 'mylist' %}" >戻る</a>
        </div>
    </form>
</div>
{% endblock content %}